<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>App需要您的位置信息来获取当前所连接 Wi-Fi 的 SSID 和 BSSID，以提供校园网自动登录服务。</string>
  <key>NSLocationUsageDescription</key>
  <string>App需要您的位置信息来获取当前所连接 Wi-Fi 的 SSID 和 BSSID，以提供校园网自动登录服务。</string>
</dict>
</plist>
